* {
    box-sizing: border-box;
}
html {
    font-family: 'Varela Round', sans-serif !important;
    min-width: 345px;
}
body{
    margin:0 !important;
    width:100%;
  
  position: absolute;
 
    font-family: 'Varela Round', sans-serif !important;
}
.header{
    padding-top:20px ;
    padding-bottom: 20px;
}
.fa-minus {
    color: blue;
    width: 20px;
    font-size: larger;
}
h4 a, h4 i, a {
    color:black; 
}
a {
    text-decoration: none !important;
}
.navbar-container {
    display: initial;
}
.navbar-menu.responsive {
    display: block;
}

label {
    display: none;
}
h2{
    font-weight: normal !important;
    font-size: medium !important;
}

.icon-hrul, .icon-search {
    width:30%;
    font-size: 24px;
    color:darkgray;
    display: inline-block;
    text-align: center;
}
.icon-search{
    float: right;
}

.icon-hrul {
    float: left;
}
.navbar-menu{
    
    display: none;
}
/*  */

.navbar-brand, .navbar-link {
    color: blue;
    text-decoration: none;
}
.navbar-brand-div {
    display: inline-block;
    width: 40%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    
}

.navbar-link, .navbar-home  {
    text-decoration: none;
}

.navbar-list{
   list-style-type: none;
}


/*  */
.banner{
    
 }
 .banner-img{   
     width:100%;
 }
.about-us{
    padding:10px 25px 0 25px;
}
.about-us-container {
    
}
#about-text-firt {
    font-weight: bold;
    font-size: x-large;

}
.about-us-div-img {
  
}
.about-us-img {    
    width: 100%;
  object-fit: contain;
}
.our-business {
    background-image: url(https://i.imgur.com/YE6srBq.jpg);
    padding: 20px;
}
.our-business a, #our-business-consulting p, #our-business-business p, #our-business-consulting p a, #our-business-business p a  {
    text-decoration: none;
    color: white;
}
#our-business-title{
    text-align: center  ;
    
}
#our-business-consulting, #our-business-business{
    text-align: center;
}
#our-business-consulting a, #our-business-business a{
    font-weight: bolder;
    font-size: larger;
}

.picture-container{
    padding:25px 25px 0 25px;
}
.picture-left {
    width: 100%;    
}
.picture-right {
    display:none;
}
.our-business-list{
    list-style-type: none;
}
.picture-container > a, .our-business-list > a{
    text-decoration: none;
}
.our-business-container {
    display: flex;
    align-items:center;
}
.our-business-container img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    
}


.news {
    margin:20px 25px 20px 25px;
}
.news-container{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
}
.news-img {
    width: 100%;
    min-width: 100px;
    object-fit: cover;
}
.news-card{
    flex: 0 0 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.news-card-text{
    padding: 20px 20px 20px;
}
h4 a{
    text-decoration: none;
}

.contacts-container{
    display: flex;
    align-items:center;
    margin:20px 25px 20px 25px;
    flex-wrap: wrap;
}
.contacts-card{
    flex: 0 0 100%;
    
}
.contacts-card img {
    max-width: 100%;
}
.contacts-card div {
    text-align: center;
    margin-bottom: 10px;
}
.contacts-card p{
    font-size:larger
}
.contacts-card textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.contacts-card input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.contacts-card-button{
    color: white;
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


.footer-info-container {
    display: flex;
    align-items:flex-start;
    margin:20px 25px 20px 25px;
    flex-wrap: wrap;
}
.footer-info {
    margin: 5px;
    min-width: 200px;
}
.footer {
    background-color: #252525;
    display: flex;
}
footer p, footer h2, footer li, footer a {
    color:white;
    text-decoration: none;
}
.footer-info ul{
    list-style-position: inside;
    list-style-type: '› ';
    padding-left:0;
}
.footer-info h2{
    font-weight:lighter;
    font-size:18px;
}
.footer-info-form input{
    border-radius: 10%;
    padding: 5px;
    
}

.copyright-container {
    padding: 4px;
    text-align: center;
    background-color: #252525;
    margin-top: 1px;    
}
.navbar-menu.responsive > .navbar-link {
    padding-inline-start: 12%;
}
.icon-search.responsive {
    display:none;
}




@media only screen and (min-width: 768px) {
    .header {
        background-color: blue;
    }
    .fa-search {
        color: wheat; 
    }
    .navbar-link, .navbar-home {
        text-decoration: initial;
        display:initial;
    }     
    .navbar-brand-div {
        width: 35%;
        padding-left: 12%;
        float: left;
        text-align: left;
    }  
    .navbar-brand{
        color: white; 
    }
    .icon-hrul {
        display: none;
    }
    .icon-search{
        width: 25%;
        display:none;
    }
    .icon-search2{
        dis
    }
    .navbar-list{
        padding: 0;
    }
  
    .navbar-menu {
        display: inline-block;
        width: 65%;
        text-align: right;
        padding-right: 12%;
    }
    .navbar-link{
        color: #e0cd21;
    }
    .navbar-home{
        color: #ff5200;
        text-decoration: none;
    }
    .navbar-list{
       margin:0;
       display: initial;
    }
    
    .navbar-list li{
        margin-left: 10px;
    }
    .about-us{
        padding: 25px 25px 0 25px;
        
    }
    .navbar-item {
        display: inline-block;
        font-size:small
    }
    
    .about-us-text {
        padding-right: 30px;
        display: inline-block;
        width: 50%;
        
    }
    .about-us-container {
        display: initial;   
        
    }
    .about-us-div-img{
        display: inline-block;
        width: 50%;
        float: right;
    }
    .about-us-img {
        object-fit:cover;
        align-items: flex-start;
    }
    #our-business-title {
        text-align: left;
    }
    #our-business-consulting, #our-business-business {
        width: 90%;
        text-align: left;
        padding-left: 20px;
    }
 

    .news {
        margin:20px 25px 20px 25px;
    }
    .news-container{
        display: flex;
        align-items:flex-start;
        flex-wrap:wrap ;
        justify-content: space-between;
    }
    .news-img {
        max-width: 100%;
        min-width: 200px;
    }
    .news-card{
        flex: 0 0 30%;
        margin-right: 10px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .news-card-text{
        padding: 0 20px 20px;
    }
    h4 a{
        text-decoration: none;
    }
    .contacts-container{
        display: flex;
        align-items:flex-start;
        margin:20px 25px 20px 25px;
    }
    .contacts-card{
        flex: 0 0 50%;
    }
    .contacts-card img {
        padding-left: 20px;
    }
    
    .contacts-card textarea {
        flex: 1;
    }
    .footer-info-container {
        display: flex;
        align-items:flex-start;
        margin:20px 25px 20px 25px;
        justify-content: space-between;
    }
    .footer-info {
        margin: 5px;
        min-width: 550px;
        max-width: 25%;
    }
    .footer {
        background-color: #252525;
        display: flex;
    }
    footer p, footer h2, footer li, footer a {
        color:white;
        text-decoration: none;
    }
    .footer-info ul{
        list-style-position: inside;
        list-style-type: '› ';
        padding-left:0;
    }
    .footer-info h2{
        font-weight:lighter;
        font-size:18px;
    }
    
    .copyright-container {
        padding: 4px;
        text-align: center;
        background-color: #252525;
        margin-top: 1px;    
    }
}

@media only screen and (min-width: 1024px){
    .navbar-container{
        margin: 0 200px 0 200px;
        display: flex;
        justify-content:space-between;
    }
    .navbar-brand-div {
        width:fit-content;
        float: none;
        padding-left: 0;
    } 
    .navbar-menu {
        width:auto;
        display:block;
        padding-right: 0;

    }
    .navbar-list li{
        margin-left: 10px;
        vertical-align: sub;
    }
    .about-us{
        margin: 20px 200px 20px 200px;
        padding:0;
    }
    .about-us-container {
        display:flex;
    }    
    .about-us-text {
        min-width: 350px;
        padding-right: 10px; 
    }
    #our-business-title{
        position:relative;
        left: 30px;
        inline-size: fit-content;
    }
    .our-business-container {
        position: relative;
        left: -45px;
    }
    .picture-left {
        height: 100%;
        object-fit:cover;
    }
    .picture-right {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0px;
        object-fit:cover;
    }
    .banner{
       position:relative;
    }
    .banner-img{
        
        width:100%;
    }
    .news {
        margin:20px 200px 20px 200px;
    }
    .news-container{
        display: flex;
        align-items:flex-start;
        flex-wrap:wrap ;
    }
    .news-img {
        max-width: 100%;
        min-width: 200px;
    }
    .news-card{
        flex: 0 0 30%;
        margin: -0px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .news-card-text{
        padding: 0 20px 20px;
    }
    h4 a{
        text-decoration: none;
    }
    .contacts-container{
        flex-wrap:nowrap;
        display: flex;
        align-items:flex-start;
        margin:20px 200px 40px 200px;
        
    }
    .contacts-card{
        flex: 0 2 50%;
        margin: 10px;
    }
    .contacts-card img {
        max-width: 100%;
    }
    .contacts-card  div {
        display: flex;
        justify-content: space-between;
    }
    .contacts-card textarea {
        flex: 1;
    }
    .footer-info-container {
        display: flex;
        align-items:flex-start;

        margin:20px 200px 20px 200px;
    }
    .footer-info {
        margin: 5px;
        min-width: 200px;
    }
    .footer {
        background-color: #252525;
        display: flex;
    }
    footer p, footer h2, footer li, footer a {
        color:white;
        text-decoration: none;
    }
    .footer-info ul{
        list-style-position: inside;
        list-style-type: '› ';
        padding-left:0;
    }
    .footer-info h2{
        font-weight:lighter;
        font-size:18px;
    }
    
    .copyright-container {
        padding: 4px;
        text-align: center;
        background-color: #252525;
        margin-top: 1px;    
    }
    .picture {
        display: flex;
    }
    .our-business, .picture-left-div {
        width: 50%;
    }
    .contacts-card input{
        width: 30%;
    }
    #button-div {
        
    }
    .contacts-card-button {
        position: absolute;
        left: 46%
    }
    .picture-container{
        padding:0;
     }
    
}
